<main class="container">

  <h1>Visualize your Social Network Graph</h1>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm, formDirective)" #formDirective="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput #name placeholder="Ex. John" formControlName="name">
    </mat-form-field>

    <mat-form-field class="friends-list" appearance="fill">
      <mat-label>Friends</mat-label>
      <mat-chip-list #friendsChipList>
        <mat-chip *ngFor="let friend of friendsList" [selectable]="true" [removable]="true" (removed)="remove(friend)">
          {{friend}}
        </mat-chip>
        <input placeholder="Friends List" [matChipInputFor]="friendsChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput #age type="number" placeholder="Ex. 25" formControlName="age">
      <span matSuffix *ngIf="age.value"> years</span>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Weight</mat-label>
      <input matInput #weight type="number" placeholder="Ex. 70" formControlName="weight">
      <span matSuffix *ngIf="weight?.value"> kg</span>
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button color="primary">Submit</button>
      <button mat-raised-button (click)="myForm.reset()">Reset</button>
    </div>

  </form>

  <app-scatter *ngIf="(friends$|async)?.length" [data]="friends$ | async"></app-scatter>

</main>