<main class="container">

  <h1>Visualize your Social Network Graph</h1>

  <form>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput #name placeholder="Ex. John">
    </mat-form-field>

    <mat-form-field class="friends-list" appearance="fill">
      <mat-label>Friends</mat-label>
      <mat-chip-list #friendsList>
        <mat-chip *ngFor="let friend of friends" [selectable]="true" [removable]="true" (removed)="remove(friend)">
          {{friend}}
        </mat-chip>
        <input placeholder="Friends List" [matChipInputFor]="friendsList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>



  </form>

</main>